.social-login
    .social-login-btn
        button.social_login_github
            a(href=routes.gitHub)
                span
                    i.fab.fa-github
                |Continue with Github
    .social-login-btn        
        button.social_login_facebook
            span
                i.fab.fa-facebook
            |Continue with Facebook

    